@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, 'Ubuntu', sans-serif;
    color: #fff;
}

html, body{
    height: 100%;
}

/*estilos background*/

.principal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/fondo_gcbox.svg);
    background-size: cover;
    background-repeat: no-repeat;
    animation: 
        pan 6s infinite alternate linear;
}

@keyframes pan {
    100% { background-position: 15% 50%;}
    }

@media (width >= 500px){
    body {
        padding: 0;
    }
}
/*fin de estilos background*/
/*estilos del navbar */
button {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
  }
  
  .navbar,
  .navbar-burger,
  .menu,
  .background {
    position: fixed;
  }
  
  body.open .background {
    filter: blur(20px);
  }
  
  /* fondo para la barra de menu */
  .navbar {
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 72px;
    padding-left: 20px;
    padding-right: 72px;
    /* background: #19191c; */
    color: #f9f9f9;
  }
  
  .navbar > button {
    font-size: 28px;
  }
  
  .navbar-logo {
    height: 20px;
    padding-left: 25px;
  }
  
  .navbar-burger {
    z-index: 3;
    top: 0;
    right: 0;
    display: grid;
    place-items: center;
    width: 72px;
    height: 72px;
    background-image: url("../img/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  body.open .navbar-burger {
    background-image: url("../img/close.svg");
  }
  
  .navbar-search {
    border: 0;
    height: 40px;
    /* background: #2f3339 url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: 10px 50%;
    border: 0;
    border-radius: 6px; */
    padding-left: 36px;
    width: 180px;
    font-size: 16px;
    font-family: "Euclid Circular A";
  }
  
  .navbar-search::placeholder {
    color: #a7a7a7;
  }
  
  /* fondo del background del menu */
  .menu {
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 100%;
    height: 100%;
    background: rgba(23, 42, 88, 0.334);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  
  body.open .menu {
    opacity: 1;
    visibility: visible;
  }
  
  .menu > a {
    color: #f9f9f9;
    font-size: 25px;
    font-family: "open sans";
    text-decoration: none;
  }
  
  body.open .menu > a {
    animation: appear 0.3s both;
  }
  
  @keyframes appear {
    0% {
      opacity: 0;
      translate: 0 50px;
    }
    100% {
      opacity: 1;
    }
  }
/*fin de estilos de navbar*/

/*inicio de estilos de tarjetas de informacion*/
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "Euclid Circular A", "Poppins";
}

.card {
  display: flex;
  align-items: center;
  width: 75vw;
  max-width: 650px;
  padding: 50px 30px 50px 20px;
  background: #ffffff;
  border-radius: 24px;
}

.card img {
  max-width: 280px;
  width: 28vw;
  height: 300px;
  object-fit: cover;
  margin-left: -60px;
  margin-right: 30px;
  border-radius: inherit;
  box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
}

.card h2 {
  font-size: 22px;
  margin-right: 30px;
}

.card h3 {
  font-size: 16px;
  font-weight: 400;
  color: rgb(0 0 0 / 90%);
}

.card p {
  font-size: 14px;
  font-weight: 400;
  color: rgb(0 0 0 / 70%);
  margin-bottom: 24px;
}

.card button {
  border: 0;
  background: linear-gradient(90deg, #5448de, #5448de);
  color: #f8f8f8;
  font-family: inherit;
  padding: 16px 26px;
  font-size: 16px;
  border-radius: 40px;
}

@media (width <= 740px) {
  .card {
    margin: 0 40px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    text-align: center;
    flex-direction: column;
  }

  .card h2 {
    margin-right: 0;
    font-size: 26px;
  }

  .card img {
    margin: -100px 0 30px 0;
    width: 100%;
    max-width: 1000px;
  }
}
